[Desktop Entry]
Type=Application
Version=1.0
Name=GSSquared
Icon=GSSquared
Comment=A complete Apple II series emulator
Exec=GSSquared %f
GenericName=GSSquared
Categories=Game;
MimeType=application/x-gs2-config;application/x-gs2-pack;
Terminal=false
